/*Aula 12 - 17/05/22*/
body, ul{
    margin: 0px;
    padding: 0px;
}
#menu a{
    color: rgb(156, 144, 144);
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    background: rgba(0, 0, 0, 0.05);
}
#logo {
    font-size: 1.5rem;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(110,41,126);
background: radial-gradient(circle, rgba(110,41,126,1) 0%, rgba(0,0,0,1) 100%);
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    /* quando vc passa o mause da uma animação*/
}
#btn-mobile {
    display: none;
}
#carouselExempleInterval{
    position: relative;
    z-index: 10;
    padding-top: 80px;
}
/*css banner*/
.section-banner-home
{
    width: 100%;
    height: 500px;
    padding: 50px;
    background: rgb(110,41,126);
background: radial-gradient(circle, rgba(110,41,126,1) 0%, rgba(0,0,0,1) 100%);
    color: rgb(252, 252, 252);
}

.section-banner-home img
{
    height: 40px;
}

.section-banner-home .texto-banner
{
    margin-top: 30px;
    font-size: 22px;
}

.section-banner-home .texto-banner h1
{
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px;
}

.section-banner-home .texto-banner p
{
    font-size: 15px;
    margin-bottom: 20px;
}

.section-banner-home .texto-banner a
{
    color: #0000;
    text-decoration: none;
    background-color: aliceblue;
    padding: 4px 14px;
    font-size: 15px;
}
/*destaque css*/
.destaque h2
{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.destaque p
{
    width: 60%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}

.destaque figcaption
{
    font-size: 13px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.destaque a
{
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(120, 48, 148);
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}

