/*Aula 12 - 17/05/22*/
body, ul{
    margin: 0px;
    padding: 0px;
}
#menu a{
    color: rgb(156, 144, 144);
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    background: rgba(0, 0, 0, 0.05);
}
#logo {
    font-size: 1.5rem;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(86,66,113);
    background: linear-gradient(0deg, rgba(86,66,113,1) 0%, rgba(0,0,0,1) 100%);
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    /* quando vc passa o mause da uma animação*/
}
#btn-mobile {
    display: none;
}
#carouselExempleInterval{
    position: relative;
    z-index: 10;
    padding-top: 80px;
}

/* Começo da responsividade Menu Hamburger*/
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 25px;
        color: #fff;
        
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        color: #fff;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
/*fim da responsividade menu hamburger*/

/*css banner*/
.destaque h2
{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

.destaque p
{
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}

.destaque figcaption
{
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.destaque a
{
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0s;
}
/*fim código banner (thiago)*/

/*destaque*/
.destaque h2
{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

.destaque p
{
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}

.destaque figcaption
{
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.destaque a
{
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0s;
}
/*fim destaque*/

/*css novidades*/
.novidades .text-body
{
    width: 80%;
    margin: 70px auto;
}

.novidades h2
{
    color: rgb(0, 0, 0);
    font-size: 26px;
    width: 70%;
}

.novidades p
{
    color: rgb(0, 0, 0);
}

.novidades a
{
    color: #000;
    text-decoration: underline;
    text-decoration-color:rgb(120, 48, 148);
    padding: 6px 12px;
    background-color: rgb(203, 162, 236);
    font-weight: 400; 
}
/*fim css novidades*/

/*css galeria*/
.galeria
{
    margin: 60px auto 20px;
}

.galeria h2
{
    text-align: center;
    font-size: 24px;
}

.galeria p
{
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}

.galeria .gallery
{
    width: 30%;
    margin: 14px auto 50px;
}
/*fim do css galeria*/

/* CSS Footer*/

.rodape 
{
    padding: 50px 50px 0;
    background: rgb(86,66,113);
    background: linear-gradient(0deg, rgba(86,66,113,1) 0%, rgba(0,0,0,1) 100%);
}

.rodape .info-contato p 
{
    margin: 0px;
    color: #fff;
}

.rodape a
 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.rodape a:hover
 {
    font-weight: bold;
}

.rodape .redes-sociais
 {
    display: inline-block;
 }

.rodape .redes-sociais img 
{
    width: 45px;
    height: 40px;
}

.rodape p.direitos
 {
    text-align: center;
    margin-top: 40px;
    color: #fff;
}
/*css footer*/


