/*Aula 12 - 17/05/22*/
body, ul{
    margin: 0px;
    padding: 0px;
}
#menu a{
    color: rgb(156, 144, 144);
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    background: rgba(0, 0, 0, 0.05);
}
#logo {
    font-size: 1.5rem;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(110,41,126);
background: radial-gradient(circle, rgba(110,41,126,1) 0%, rgba(0,0,0,1) 100%);
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    /* quando vc passa o mause da uma animação*/
}
#btn-mobile {
    display: none;
}
#carouselExempleInterval{
    position: relative;
    z-index: 10;
    padding-top: 80px;
}
